.contact-page {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.contact-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.contact-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  text-align: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-item a {
  text-decoration: none;
}

.contact-item img {
  max-width: 100px; 
  max-height: 100px; 
  margin-bottom: 10px;
  display: block; 
  margin: 0 auto; 
  
}

.contact-item p {
  font-size: 14px;
}

.contact-footer {
  font-size: 16px;
  color: #555;
  margin-top: 20px;
}